@tailwind base;
@tailwind components;
@tailwind utilities;

.react-globe {
  background: transparent !important;
}
.carousel .slide img {
  border-radius: 0.5rem;
}
.carousel .legend {
  background: rgba(31, 41, 55, 0.7);
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
